.root {
}
.divGrid{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    // grid-template-areas:
    // "introSectionDiv introSectionDiv"
    // "projectCardDiv projectCardDiv";
    // display: grid;
    // grid-template-columns: 3fr 2fr;
    gap: 25px;
    height: 362px;
    width: 1000px;
}
.divGridText{
    //put content in vertical middle here
    display: flex;
    flex-direction: column;
    justify-content: center;
    .ProjectTitle{
        font-size: 30px;
        font-weight: 600;
        color: var(--textColourPrimary);
        margin-bottom: 10px;
    }
    .ProjectBio{
        background-color: var(--mainColorLight);
        color: var(--textColourPrimary);
        //add drop shaddow
        box-shadow: 0 10px 30px -15px black;
    }
    .ToolsLangs{
        color: var(--textColourPrimary);
        font-size: 15px;
        margin-top: 15px;
        li{
            display: inline;
            margin-right: 60px;
        }
    }
    .Links{
        margin-top: 15px;
        color: var(--textColourPrimary);
    }
}
.divGridImage{
    box-shadow: 0 10px 30px -15px black;
}
.ProjectCardFooterItems{
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
    
}