.root {
}

/* Main grid container */
.divGrid {
  display: flex;
  flex-direction: row;
  gap: 2rem;
  max-width: 1200px;
  margin: 0 auto;
  height: auto;
  /* Tablet breakpoint */
  @media (max-width: 1024px) {
    flex-direction: column;
    gap: 1rem;
    margin-bottom: 1rem;
    .divGridImage {
      order: 2;
    }
    .divGridText {
      .ProjectTitle {
        order: 1;
      }
      .ProjectBio {
        order: 3;
      }
    }
    .ProjectCardFooterItems {
      order: 4;
    }
  }
}

/* Text section */
.divGridText {
  flex: 2 1 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 1rem;

  .ProjectTitle {
    font-size: 2rem;
    font-weight: 600;
    color: var(--textColor);
    margin-bottom: 0.75rem;
  }
  .ProjectBio {
    width: 100%;
    background-color: var(--mainColorLight);
    color: var(--textColourPrimary);
    box-shadow: 0 10px 15px -15px black;
    transition: all 0.5s ease;
  }
  &.hover {
    .ProjectBio {
      box-shadow: 0 10px 30px -15px black;
    }
  }
  .ToolsLangs {
    color: var(--textColourPrimary);
    font-size: 0.875rem;
    margin-top: 0.9375rem;
    li {
      display: inline;
      margin-right: 3.75rem;
    }
  }
  .Links {
    font-size: 0.875rem;
    margin-top: 0.9375rem;
    color: var(--textColourPrimary);
  }
  .LinkIcons {
    width: 1.25rem;
    fill: var(--secondaryColor);
    .svg {
      fill: var(--secondaryColor);
    }
  }
}

/* Image section */
.divGridImage {
  flex: 1 1 0;
  max-height: 350px;
  overflow: hidden;
  border-radius: 5px;
}
.divGridImage img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  opacity: 0.8;
  transition: all 0.5s ease;
}
.divGridImage:hover img {
  opacity: 1;
}

/* Footer items */
.ProjectCardFooterItems {
  display: flex;
  justify-content: space-between;
  margin-top: 0.625rem;
}

/* Mobile breakpoint */
@media (max-width: 599px) {
  .divGridText {
    .ProjectTitle {
      font-size: 1.5rem;
    }
    .ProjectBio {
      font-size: 1rem;
    }
  }
  .divGridImage img {
    max-width: 100%;
  }
}
