.root {
}
.divGrid{
    display: grid;
    grid-template-columns: 3fr 2fr;
    gap: 50px;
}
.paragraphContent{
    color: var(--textColourPrimary);
}
.paragraphContent h2{
    color: var(--secondaryColor);
    font-size: 22px;
}
.paragraphContent h3{
    color: var(--textColourPrimary);
    font-size: 13px;
}
.paragraphContent p{
    color: var(--textColourPrimary);
    font-size: 18px;
}
.imageContent{
    position: relative;
    // object-fit: cover;
    width: 200px;
    height: 200px;
    // border-radius: 5px;
    vertical-align: middle;
    // align at top but horisontally in the middle
    // align-self: start;
    // justify-self: center;
}

.myClass ul > li > a {
    background-color: white;
    color: red;
}
.myClass ul > li > a:hover {
    background-color: pink;
}

/* Active tab */
.myClass ul > li.active > a,
.myClass ul > li.active > a:hover,
.myClass ul > li.active > a:focus {
    background-color: red;
    color: white;
}

/* Disabled tab */
.myClass ul > li.disabled > a {
    background-color: lightgray;
    color: darkgray;
}
