.root {
}
.divGrid{
    display: grid;
    grid-template-columns: 3fr 2fr;
    gap: 50px;
}
.paragraphContent{
    color: var(--textColourPrimary);
}
.paragraphContent h2{
    color: var(--secondaryColor);
    font-size: 22px;
}
.paragraphContent h3{
    color: var(--textColourPrimary);
    font-size: 13px;
}
.paragraphContent p{
    color: var(--textColourPrimary);
    font-size: 18px;
}
.imageContent{
    position: relative;
    // object-fit: cover;
    width: 200px;
    height: 200px;
    // border-radius: 5px;
    vertical-align: middle;
    // align at top but horisontally in the middle
    // align-self: start;
    // justify-self: center;
}

.listContent{
    display: grid;
    grid-template-columns: 0.2fr 0.5fr;
    // gap: 20px;
    column-gap: 50px;
    padding: 10px;
    color: var(--textColourPrimary)
}

.ExpNavListItem{
    background-color: var(--mainColor);
    // border-radius: 5px;

    a[aria-selected="true"]{
        //transition on selection
        transition: all 0.25s ease;
        background-color: var(--mainColorLight) !important;
        border-radius: 0px !important;
        border: none !important;
        border-left: 2.5px groove var(--secondaryColor) !important;
        //not sure how to have the boarder replace the other - just shove it in for now
        // margin-left: -2px;
      }
    border-left: 2.5px solid var(--secondaryColorOpacity);

    //when button is hovered over
    transition: all 0.2s ease;
    &:hover{
        background-color: var(--mainColorLight);
    }
}


//when button is clicked state
// .ExpNavListItem :active{
//     background-color: var(--mainColorLight);

// }
