.root {
  // width: 1000px;
  background-color: var(--mainColor);
  // height: 700px;
}
:root {
  --mainColor: #0a192f;
  --mainColorLight: #112240;
  --secondaryColor: #03b6fc;
  --secondaryColorOpacity: #03b5fc56;
  --textColor: #ccd6f6;
  --textColourPrimary: #8892b0;
}
.Intro-greeting {
  font-size: 16px;
  color: var(--secondaryColor);
  margin: 0px 0px 30px 4px;
}
.Intro-name {
  font-size: 80px;
  color: var(--textColor);
}
.Intro-subheading {
  font-size: 80px;
  color: var(--textColourPrimary);
  margin: 5px 0px 0px;
}
.Intro-bodyText {
  font-size: 20px;
  color: var(--textColourPrimary);
  margin: 20px 0px 0px;
  // word-wrap: break-word;
}
