.root {
    padding: 0;
    margin: 0;
    box-sizing: border-box;

}
:root{
    --mainColor: #0A192F;
    --mainColorLight: #112240;
    --secondaryColor: #03B6FC;
    --secondaryColorOpacity: #03b5fc56;
    --textColor: #CCD6F6;
}

// header {
//     display:flex;
//     align-items: left;
//     justify-content: space-between;
//     height: 80px;
//     padding: 0 2rem;
//     background-color: var(--mainColor);
//     color: var(--textColor);
// }

// .nav-links{
//     align-items: right;
// }

// nav a{
//     align-items: right;
//     margin: 0 2rem;
//     color: var(--textColor);
//     text-decoration: none;

// }

// nav a:hover{
//     color: var(--secondaryColor);
// }

// header .nav-btn {
//     padding: 5px;
//     cursor: pointer;
//     background-color: transparent;
//     border: none;
//     outline: none;
//     color: var(--textColor);
//     visibility: hidden;
//     opacity: 0;
//     font-size: 1.8rem;
// }

// @media only screen and (max-width: 1024px){
//     header .nav-btn {
//         visibility: visible;
//         opacity: 1;
//     }

//     header nav{
//         position: fixed;
//         top: 0;
//         left: 0;
//         width: 100%;
//         height: 100%;
//         background-color: var(--mainColor);
//         display: flex;
//         flex-direction: column;
//         align-items: center;
//         justify-content: center;
//         transform: translateX(-100%);
//         transition: transform 0.3s ease-in-out;
//         gap: 1.5rem;
//     }

//     header .responsive_nav{
//         transform: none;
//     }

//     header .nav-close-btn{
//         position: absolute;
//         top: 2rem;
//         right: 2rem;

//     }

//     nav a{
//         font-size: 1.5rem;
//     }
// }
// ===================================================================
// .CV-btn {
//     border: var(--secondaryColor) !important;
//   }

.Navbar{
    background-color: var(--mainColor) !important;
    height: 70px;
    filter: drop-shadow(0px 1px 15px black);
}

nav a{
    // align-items: right;
    margin: 0 2rem;
}

a{
    color: var(--textColor) !important;
}

// add coloured content to start of text
// a:before {
//     color: var(--secondaryColor);
//     content: "./ ";
// }

.NavLink:before{
    color: var(--secondaryColor);
    content: "./ ";
}

a:hover{
    color: var(--secondaryColor) !important;
}

.CVbtn{
    color: var(--secondaryColor) !important;
    border-color: var(--secondaryColor) !important;
    border-style: solid;
    // border-width: 50px;
    width: 100px;
    padding: 0px;
}

.CVbtn:hover{
    background-color: var(--secondaryColorOpacity) !important;
}

.Offcanvas{
    background-color: var(--mainColorLight) !important;
    color: var(--textColor) !important;
}

.Container{
    padding: 0px 50px;
}

.navbartoggler{
    fill: var(--secondaryColor) !important;
    span{
        fill: var(--secondaryColor) !important;
        color: var(--secondaryColor) !important;
    }
}
