.root {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
:root {
  --mainColor: #0a192f;
  --mainColorLight: #112240;
  --secondaryColor: #03b6fc;
  --secondaryColorOpacity: #03b5fc56;
  --textColor: #ccd6f6;
}
@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.Navbar {
  background-color: var(--mainColor) !important;
  height: 70px;
  filter: drop-shadow(0px 1px 15px black);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav a {
  display: inline-flex;
  align-items: center;
  white-space: nowrap;
}

a {
  color: var(--textColor) !important;
}

.NavBarAbout {
  animation: fadein ease-in both;
  animation-duration: 0.5s;
  animation-delay: 0ms;
}
.NavBarExp {
  animation: fadein ease-in both;
  animation-duration: 0.5s;
  animation-delay: 200ms;
}
.NavBarProj {
  animation: fadein ease-in both;
  animation-duration: 0.5s;
  animation-delay: 400ms;
}
.NavBarContact {
  animation: fadein ease-in both;
  animation-duration: 0.5s;
  animation-delay: 600ms;
}

.NavLink:before {
  display: inline-block;
  color: var(--secondaryColor);
  content: './ ';
  white-space: nowrap;
}

a:hover {
  color: var(--secondaryColor) !important;
}

.CVbtn {
  color: var(--secondaryColor) !important;
  border-color: var(--secondaryColor) !important;
  border-style: solid;
  min-width: 80px;
  flex-shrink: 1;
  padding: 0px;
  white-space: nowrap;
  animation: fadein ease-in both;
  animation-duration: 0.5s;
  animation-delay: 500ms;
  display: flex;
  justify-content: center;
  align-items: center;
}

.CVbtn:hover {
  background-color: var(--secondaryColorOpacity) !important;
}

.Offcanvas {
  background-color: var(--mainColorLight) !important;
  color: var(--textColor) !important;

  // Use CSS filter to recolor Bootstrap's default close button icon
  :global(.btn-close) {
    filter: invert(55%) sepia(100%) saturate(2500%) hue-rotate(170deg) brightness(105%)
      contrast(105%);
  }
}

.Container {
  padding-left: 1rem;
}

.brand {
  margin-left: 1.5rem;
}

.navbartoggler {
  margin-left: auto;
  border-color: var(--secondaryColor) !important;

  // Use CSS filter to recolor Bootstrap's default toggler icon
  :global(.navbar-toggler-icon) {
    filter: invert(55%) sepia(100%) saturate(2500%) hue-rotate(170deg) brightness(105%)
      contrast(105%);
  }
}

.socials {
  flex: 0 0 auto;
  display: flex;
  align-items: center;
}
.socials::before {
  display: none;
}

.GithubIcon {
  width: 25px;
}

.NavLink {
  margin-inline: clamp(1rem, 2vw, 2rem);
}

.socials a {
  margin-inline: 1rem;
}

@media (max-width: 1313px) {
  .Navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

@media (max-width: 767px) {
  .CVbtn {
    display: block;
  }
}
