.root {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
:root{
    --mainColor: #0A192F;
    --mainColorLight: #112240;
    --secondaryColor: #03B6FC;
    --secondaryColorOpacity: #03b5fc56;
    --textColor: #CCD6F6;
}
@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
  }

.Navbar{
    background-color: var(--mainColor) !important;
    height: 70px;
    filter: drop-shadow(0px 1px 15px black);
}

nav a{
    // align-items: right;
    margin: 0 2rem;
}

a{
    color: var(--textColor) !important;
}

.NavBarAbout{
    animation: fadein ease-in both;
    animation-duration: 0.5s;
    animation-delay: 0ms;
}
.NavBarExp{
    animation: fadein ease-in both;
    animation-duration: 0.5s;
    animation-delay: 200ms;
}
.NavBarProj{
    animation: fadein ease-in both;
    animation-duration: 0.5s;
    animation-delay: 400ms;
}
.NavBarContact{
    animation: fadein ease-in both;
    animation-duration: 0.5s;
    animation-delay: 600ms;
}

.NavLink:before{
    color: var(--secondaryColor);
    content: "./ ";
}

a:hover{
    color: var(--secondaryColor) !important;
}

.CVbtn{
    color: var(--secondaryColor) !important;
    border-color: var(--secondaryColor) !important;
    border-style: solid;
    // border-width: 50px;
    width: 100px;
    padding: 0px;
    animation: fadein ease-in both;
    animation-duration: 0.5s;
    animation-delay: 500ms;
}

.CVbtn:hover{
    background-color: var(--secondaryColorOpacity) !important;
}

.Offcanvas{
    background-color: var(--mainColorLight) !important;
    color: var(--textColor) !important;
}

.Container{
    padding: 0px 50px;
}

.navbartoggler{
    fill: var(--secondaryColor) !important;
    span{
        fill: var(--secondaryColor) !important;
        color: var(--secondaryColor) !important;
    }
}

.socials{
    width: 400px;
    color: var(--textColor);
    display: flex;
    align-items: center;
}
.socials::before{
    content: '';
    width: 100px;
    height: 0.5px;
    margin-left: 20px;
    background-color: var(--textColor);
}

.GithubIcon{
    width: 25px;
    // position:fixed;
}