.App {
  text-align: start;
  background-color: var(--mainColor);
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
  fill: #03b6fc;
}

:root {
  --mainColor: #0a192f;
  --mainColorLight: #112240;
  --secondaryColor: #03b6fc;
  --secondaryColorOpacity: #03b5fc56;
  --textColor: #ccd6f6;
  --textColourPrimary: #a8b2d1;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #0a192f;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.App-grid {
  display: grid;
}
.IntroSectionDiv {
  margin: auto 150;
  position: relative;
  align-self: start;
  padding-top: 100px;
  display: flex;
  justify-content: center;
}

main {
  margin: 0px auto;
  width: 100%;
  max-width: 1600px;
  min-height: 100vh;
  display: block;
  padding: 0px 150px;
}
